/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, #e7e7e7 0.01%,#1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  background-color: var(--bg-color, #fff);
  font-family: var(--font,sans-serif);
  color: var(--text-color, #000);
  font-variation-settings: 'wght' var(--font-weight, 400);
  display: grid;
  align-items: center;
  justify-items: center;
}


/* header */

.header {
  max-height: 960px;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 25px;
  border: var(--border);
  background-color: var(--bg-color, #fff);
  width: clamp(375px, 48.7%, 700px);
  font: var(--font-accent, fantasy);
  font-family: "Press Start 2P", fantasy;
  margin: 100px 0 102px;
  height: clamp(20.438rem, 19.506rem + 4.66vw, 23rem);
  padding-top: clamp(7.5rem, 7.357rem + 0.714vw, 8rem);
  padding-bottom: clamp(7.5rem, 7.357rem + 0.714vw, 8rem);
}

.header-continer {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
  text-transform: uppercase;
}

.header-continer_logo {
  font-size: var(--font-size-title);
  text-decoration: none;
  font-weight: var(--font-weight);
  line-height: var(--font-size-title);
}

.header-continer_title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
 font-weight: var(--font-weight);
 line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem) ;
}

.main {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 52px;
}


/* card */

.card {
  background-color: var(--bg-color);
  border: var(--border);
  display: grid;
  width: clamp(375px, 48.7%, 700px);
}

.card_title {
  padding: 3px 10px;
  font:var(--font, sans-serif);
  font-family: "Inter-Variable", sans-serif;
  font-variation-settings: 'wght' var(--font-weight-title,700);
  font-size: var(--font-size, 18px);
}


 /* card image */

.card-img {
  display: grid;
  overflow: hidden;
  border-block: var(--border);
}

.card-img_image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.retro-img {
  filter: saturate(0.2);
}

.neon-img {
  filter: saturate(3.5);
}

.pink-img {
  filter: hue-rotate(30deg);
}

.reverse-img {
  filter: invert(0.8);
}

.broun-img {
  filter: sepia(0.9);
}

.blur-img {
  filter: blur(10px);
}

.pink-green-img {
  filter: hue-rotate(90deg) blur(2px) opacity(0.7) brightness(0.6);
}

.card-img_watermark {
  position: absolute;
  justify-self: end;
  margin-block-start: max(23px, 1.736%);
  margin-inline-end: max(11px, 1.736%);
  color: var(--text-color, #000);
  font: var(--font-accent, fantasy);
  font-family: "Press Start 2P", fantasy;
  font-size: 0.875rem;
  font-weight: var(--font-weight, 400);
  text-shadow:
    -1px 0 var(--text-shadow-color, #fff),
    0 1px var(--text-shadow-color, #fff),
    1px 0 var(--text-shadow-color, #fff),
    0 -1px var(--text-shadow-color, #fff);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 1;
}

.up {
  text-transform: uppercase;
}
/*@supports*/

@supports ((text-stroke: 1px var(--white)) or (-webkit-text-stroke: 1px var(--white))) {
  .card-img_watermark {
    -webkit-text-stroke: 1px var(--white, #fff);
    text-stroke: 1px var(--white, #fff);
    text-shadow: none;
  }
}

.card_text {
  padding: 26px 25px 25px;
  display: grid;
  gap: 27px;
  font:var(--font,sans-serif);
  font-family: "Inter-Variable", sans-serif;
  font-size: var(--font-size, 18px);
  line-height: 21px;
}

/* button */

.card_button {
  justify-content: end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4px;
}

.button {
  position: relative;
  background-color: var(--bg-color, #fff);
  border: var(--border);
  overflow: hidden;
  cursor: pointer;
  padding: 0;
}

.button__text {
  position: relative;
  color: var(--mix-blm);
  font: var(--font-accent, fantasy);
  font-family: "Press Start 2P", fantasy;
  font-size: var(--font-size-accent, 14px);
  line-height: 12.6px;
  mix-blend-mode: difference;
  z-index: 1;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
  box-shadow: none;
  transform: box-shadow 0.3s ease;
  align-items: center;
  justify-items: center;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--black, #000);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background-blend-mode: difference;
  z-index: 0;
}

.button:hover::before {
  transform:  translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--black, #000);
  transition: 0.3s ;
}


/* сердечко */

.card__icon-button {
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  block-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.sparks {
  opacity: 0;
  fill: var(--red, #f00);
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--black,#000);
}


/* фокус */

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: var(--border);
  transition: .3s ease;
}


/* hover */

.like-icon:hover .core {
  fill: var(--black,#000);
  transition: fill 0.3s  linear;
  transition-delay: 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--black,#000);
  transition: fill 0.3s  linear;
  transition-delay: 0.05s;
}


/* active */

.like-icon:active .core {
  fill: var(--red,#f00);
  transition: fill 0.3s  linear;
  transition-delay: 0.03s;
}

.like-icon:active .main-body {
  fill: var(--red,#f00);
  transition: fill 0.3s  linear;
  transition-delay: 0.05s;
}


/* лайнуто */

.like-icon.is-liked .core {
  fill: var(--red, #f00);
  transition: fill 0.3s  linear;
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--red,#f00);
  transition: fill 0.3s  linear;
  transition-delay: 0.03s;
}

.like-icon.is-liked .contour {
  fill: var(--red,#f00);
  transition: fill 0.3s  linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .sparks {
  animation: opacity 0.3s ease-in;
  animation-delay: 0.3s;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in;
  animation-delay: 0.1s;
  transform-origin: center center;
}


/* сохранить */

.button-save {
  background-color: var(--bg-color,#fff);
  border: 2px solid #000;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  padding:0 21px 0 15px ;
  margin-bottom: 103px;
}

.button__text-save {
  padding: 18.5px 0 18.5px 0;
  font: var(--font-accent, fantasy);
  font-family: "Press Start 2P", fantasy;
  font-size: var(--font-size-accent,14px);
  font-weight: var(--font-weight,400 );
  line-height: 12.6px;
}

.floppy {
  margin: 15px 0 15px 0;
  color: var(--mix-blm,#fff);
  /* mix-blend-mode: difference; */
  z-index: 1;
  position: relative;
}

.floppy-main {
  width: 21px;
  height: 21px;
}
/* диалог */

.dialog[open] {
  max-width: 358px;
  /* width: clamp(21.313rem, 21.0489rem + 1.1268vw, 22.063rem); */
  padding: 30px;
  border: var(--border);
  background-color: var(--bg-color,#fff);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px 20px;
}

dialog::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.dialog_title {
  color: var(--text-color,#000);
  font: var(--font-accent,fantasy);
  font-family: "Press Start 2P", fantasy;
  font-size: var(--font-size-accent,14px);
  font-weight: var(--font-weight,400 );
  line-height: 21px;
}

.dialog_button {
  background-color: var(--bg-color,#fff);
  border: 2px solid #000;
  cursor: pointer;
  grid-column: 1/3;
  width: 293px;
  height: 38px;
  padding: 0;
}

.floppy-dialog {
  width: 39px;
  height: 39px;
}

@media (max-width: 375px) {
  .header {
    width: 100%;
    margin-bottom: 104px;
  }
  .card {
    width: 100%;
  }
  .card_title {
    padding-top: 3px;
    padding-bottom: 5px;
  }
  .card_title-normal {
    padding-top: 4px;
    padding-bottom: 6px;
  }
  .card_text {
    padding-top: 25px;
  }
  .tx {
    padding-top: 27px;
  }
  .dialog[open] {
    max-width: 350px;
    padding: 32px 42px;
  }
  .dialog_button {
    width: 257px;
  }
  .button-save {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    justify-items: center;
  }
  .floppy-main {
    grid-row: 1/2;
    grid-column: 1/3;
    margin-bottom: 0;
    inline-size: 28px;
    block-size: 28px;
  }
  .button__text-save {
    grid-row: 2/3;
    padding-top: 0;
    grid-column: 1/3;
  }
}